@import 'fonts.css';
/* @import 'anim.css'; */

* {
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
img {
  pointer-events: none;
}
body {
  background-color: #1b1f29;
  scale: 0.9;
  padding: 135px 0 0;
}
.container {
  width: 1018px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template: 465px 343px/1017px 400px;
  width: 100%;
  gap: 55px;
  grid-auto-columns: 0;
}
.canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1000%;
  will-change: transform;
  transform: translateY(0);
}
.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #492323 3.08%,
    #331328 12.99%,
    #261940 23.02%,
    #22275c 35.42%,
    #23274b 47.44%,
    #162f3e 57.35%,
    #18414e 67.02%,
    #1b3d56 76.74%,
    #2a3747 86.1%,
    #222a38 95.36%
  );
  overflow: hidden;
}
.crash {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 465px;
  border-radius: 70px;
  background-color: #1d212c;
  z-index: -100;
}
.back {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(@/assets/img/bg-s.png);
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#min,
#sec {
  display: inline-block;
}
.connection {
  position: absolute;
  top: 58px;
  left: 82px;
  width: 40px;
  height: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 14px;
}
.connection::before {
  content: url(@/assets/img/wifi.png);
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
}
.panel {
  position: absolute;
  right: 49px;
  top: 48px;
  width: 161px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.panel-block {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-color: #252a37;
  cursor: pointer;
}
.panel-block .active {
  background-color: #42495b;
}
.block-left {
  width: 130px;
  position: absolute;
  top: 185px;
  left: 113px;
  display: flex;
  flex-direction: column;
}
.block-left .scale {
  display: flex;
  justify-content: space-between;
}
.counter {
  position: absolute;
  top: 185px;
  left: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: #277dff;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  border-radius: 20px;
  transition: all 0.1s;
}
.counter span {
  font-size: 40px;
  letter-spacing: 5px;
  border-bottom: 1px rgba(68, 68, 68, 0.1) solid;
  font-family: 'Allerta Stencil', sans-serif;
}
.scale {
  transition: all 0.5s;
  opacity: 1;
  display: flex;
  width: 135px;
  border-radius: 20px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
}
.scale span {
  font-family: 'Allerta Stencil', sans-serif;
}
#factor {
  display: block;
}
.descr {
  color: #42495b;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.rocket {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation-name: takeoff;
  animation-duration: 5s;
  bottom: -160px;
}
.fly-rocket {
  animation: fly 1s 1;
}
.block-right {
  position: absolute;
  top: 185px;
  right: 113px;
  display: flex;
  flex-direction: column;
  width: 120px;
}
.block-right .scale {
  width: 140px;
}
.past-scale {
  width: 415px;
  height: 42px;
  position: absolute;
  top: 373px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scale-game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 42px;
  border-radius: 21px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 60px;
}
.green {
  background-color: #35dc64;
  transition: all 0.5s;
}
.gray {
  background-color: #3f4658;
  transition: all 0.5s;
}
.gold {
  background-color: #e8b838;
  transition: all 0.5s;
}
.red {
  background-color: #ec4242;
  transition: all 0.5s;
}
.blue {
  background-color: #adccff;
  transition: all 0.5s;
}
.first::before {
  content: '1';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  left: -5px;
  padding-right: 10px;
  height: 100%;
  font-size: 20px;
  color: #fff;
  background-color: #86acff;
  border-right: 2px #a6c2ff solid;
  width: 20px;
}
.second::before {
  content: '2';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  left: -5px;
  padding-right: 10px;
  height: 100%;
  font-size: 20px;
  color: #fff;
  background-color: #246cfd;
  border-right: 2px #4180ff solid;
  width: 20px;
}
.on {
  display: block;
}
.off {
  display: none;
}
.canvas-wrapper > svg {
  position: absolute;
  display: block;
  height: auto;
}
#crashChartPlanetMoon {
  width: 16.2%;
  bottom: 3.96%;
  right: 2.2%;
  animation: crashCanvasRotation 45s linear infinite;
}
#crashChartPlanetEarth {
  width: 18%;
  bottom: 12.88%;
  left: 13.3%;
  animation: crashCanvasRotation 45s linear infinite reverse;
}
#crashChartPlanetMars {
  width: 16.8%;
  bottom: 22.28%;
  right: 15.6%;
  animation: crashCanvasRotation 45s linear infinite;
}
#crashChartPlanetJupiter {
  width: 28.9%;
  bottom: 31.56%;
  left: 4.9%;
  animation: crashCanvasPulseWithSlopes 3.5s ease-in-out infinite alternate;
}
#crashChartPlanetCold {
  width: 21.3%;
  bottom: 41.66%;
  right: 4.2%;
  animation: crashCanvasPulse 3.5s ease-in-out infinite alternate;
}
#crashChartPlanetZegmund {
  width: 33.5%;
  bottom: 51%;
  left: 7.8%;
  animation: crashCanvasRotation 45s linear infinite;
}
#crashChartPlanetSolarSystem {
  width: 58.144%;
  top: 31.94%;
  right: 0.24%;
  animation: crashCanvasPulseForSolarSystem 5s ease-in-out infinite alternate;
}
#crashChartPlanetMercury {
  width: 18%;
  top: 22.12%;
  left: 14.22%;
  animation: crashCanvasRotation 30s linear infinite reverse;
}
#crashChartPlanetStarBomb {
  width: 36.3%;
  top: 11.25%;
  right: 5%;
  animation: crashCanvasPulse 3.5s ease-in-out infinite alternate;
}
#crashChartPlanetLuckyDuck {
  width: 20.9%;
  top: 1.95%;
  left: 17.2%;
  animation: crashCanvasPulseWithSlopes 3.5s ease-in-out infinite alternate;
}
#crashChartObjectSpaceship {
  width: 4.45%;
  bottom: 8.48%;
  right: -5%;
  transform: rotate(-40deg);
  animation: crashChartObjectSpaceshipAnimation 10s linear infinite;
}
#crashChartObjectDuck {
  width: 6%;
  bottom: 15.58%;
  right: 21.61%;
  transform: rotate(18.23deg);
  animation: crashCanvasRotation 25s linear infinite reverse;
}
#crashChartObjectYellowComets {
  width: 17.362%;
  bottom: 26.2%;
  right: 105%;
  transform: rotate(150deg);
  animation: crashChartObjectYellowCometsAnimation 20s linear infinite;
}
#crashChartObjectUfo {
  width: 7.6%;
  bottom: 32.36%;
  right: 17.4%;
  animation: crashChartObjectUfoAnimation 5s linear infinite;
}
#crashChartObjectFastBlueComet {
  width: 8.732%;
  bottom: 41.6%;
  right: -12%;
  transform: rotate(13.62deg);
  animation: crashChartObjectFastBlueCometAnimation 20s linear infinite;
}
#crashChartObjectBlueComet {
  width: 9.2%;
  bottom: 43.45%;
  left: 31.49%;
  animation: crashCanvasRotation 15s linear infinite;
}
#crashChartObjectSputnik {
  width: 8%;
  top: 43.16%;
  right: 20.82%;
  animation: crashCanvasPulseWithSlopes 3.5s ease-in-out infinite alternate;
}
#crashChartObjectYellowComets2 {
  width: 17.284%;
  top: 32.8%;
  left: 110%;
  transform: rotate(-31.77deg);
  animation: crashChartObjectYellowComets2Animation 15s linear infinite;
}
#crashChartObjectHole {
  width: 9.4%;
  top: 23.96%;
  right: 23.4%;
  animation: crashCanvasRotation 6s linear infinite;
}
#crashChartObjectComet {
  width: 13%;
  top: 18.5%;
  left: -25%;
  transform: rotate(19.93deg);
  animation: crashChartObjectCometAnimation 25s linear infinite;
}
#crashChartObjectSolarSystem {
  width: 12.6%;
  top: 6.32%;
  left: 30.4%;
  animation: crashCanvasRotation 20s linear infinite;
}
.space-rocket {
  z-index: 100;
  position: relative;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rocket-explosion {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.rocket-explosion:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(@/assets/img/rocket-scrash.png);
  background-size: 100%;
  background-position-y: 0;
}
.rocket-explosion-crash {
  opacity: 1;
  visibility: visible;
}
.rocket-explosion-crash:before {
  animation: rocketExplosionAnimation 0.6s steps(14) 1 forwards;
}
.block-bid {
  display: flex;
  width: 300px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block-factor {
  display: flex;
  width: 230px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@keyframes takeoff {
  0% {
    bottom: -400px;
  }
  20% {
    bottom: 23px;
  }
  100% {
    bottom: -160px;
  }
}
@keyframes crashCanvasRotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes fly {
  0% {
    bottom: -160px;
    transform: translate(calc(-50% + 1px), 1px);
  }
  33% {
    transform: translate(calc(-50% - 1px), 1px);
  }
  66% {
    transform: translate(calc(-50% - 1px), -1px);
  }
  100% {
    bottom: 23px;
    transform: translate(calc(-50% + 1px), -1px);
  }
}
@keyframes crashCanvasPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  to {
    transform: scale(1);
  }
}
@keyframes crashCanvasPulseForSolarSystem {
  0% {
    transform: scale(1) rotate(29.66deg);
  }
  50% {
    transform: scale(1.06) rotate(29.66deg);
  }
  to {
    transform: scale(1) rotate(29.66deg);
  }
}
@keyframes crashCanvasPulseWithSlopes {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.06) rotate(4deg);
  }
  to {
    transform: scale(1) rotate(8deg);
  }
}
@keyframes crashChartObjectSpaceshipAnimation {
  0% {
    bottom: 8.48%;
    right: -5%;
    transform: rotate(-40deg);
  }
  25% {
    bottom: 12%;
    right: 20%;
    transform: rotate(-40deg);
  }
  50% {
    bottom: 15%;
    right: 50%;
    transform: rotate(-55deg);
  }
  75% {
    bottom: 15.8%;
    right: 77%;
    transform: rotate(-75deg);
  }
  to {
    bottom: 16%;
    right: 105%;
    transform: rotate(-90deg);
  }
}
@keyframes crashChartObjectYellowCometsAnimation {
  0% {
    bottom: 26.2%;
    right: 105%;
  }
  to {
    bottom: 23%;
    right: -25%;
  }
}
@keyframes crashChartObjectUfoAnimation {
  0% {
    transform: rotate(0) rotate(0);
    transform-origin: 50% 200%;
  }
  to {
    transform: rotate(1turn) rotate(0);
    transform-origin: 50% 200%;
  }
}
@keyframes crashChartObjectFastBlueCometAnimation {
  0% {
    bottom: 41.6%;
    right: -12%;
  }
  to {
    bottom: 35.6%;
    right: 105%;
  }
}
@keyframes crashChartObjectYellowComets2Animation {
  0% {
    top: 32.8%;
    left: 110%;
  }
  to {
    top: 30%;
    left: -25%;
  }
}
@keyframes crashChartObjectCometAnimation {
  0% {
    top: 18.5%;
    left: -25%;
  }
  to {
    top: 12%;
    left: 105%;
  }
}
@keyframes shakeShip {
  0% {
    transform: translate(calc(-50% + 1px), 1px);
  }
  33% {
    transform: translate(calc(-50% - 1px), 1px);
  }
  66% {
    transform: translate(calc(-50% - 1px), -1px);
  }
  100% {
    transform: translate(calc(-50% + 1px), -1px);
  }
}
@keyframes rocketExplosionAnimation {
  0% {
    background-position-y: 0;
  }
  to {
    background-position-y: 100%;
  }
}
@media (max-width: 1730px) {
  .wrapper {
    grid-template: 465px 343px/100%;
    grid-auto-rows: 100%;
    justify-items: center;
  }
}
@media (max-width: 1050px) {
  .container {
    width: 718px;
  }
  .wrapper {
    grid-template: 465px 279px/100%;
    grid-auto-rows: 100%;
    justify-items: center;
  }
  .wrap {
    display: none;
  }
  .counter {
    left: 33px;
  }
}
@media (max-width: 768px) {
  body {
    scale: none;
    padding: 35px 0 160px;
  }
  .container {
    width: 518px;
  }
  .rocket {
    width: 90px;
    bottom: -120px;
  }
  @keyframes fly {
    0% {
      bottom: -120px;
      transform: translate(calc(-50% + 1px), 1px);
    }
    33% {
      transform: translate(calc(-50% - 1px), 1px);
    }
    66% {
      transform: translate(calc(-50% - 1px), -1px);
    }
    100% {
      bottom: 23px;
      transform: translate(calc(-50% + 1px), -1px);
    }
  }
  @keyframes takeoff {
    0% {
      bottom: -400px;
    }
    20% {
      bottom: 23px;
    }
    100% {
      bottom: -120px;
    }
  }
  .counter {
    width: 200px;
    font-size: 20px;
  }
  .block-left {
    left: 50px;
  }
  .block-right {
    right: 60px;
  }
  .scale {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
  }
  .block-bid {
    width: 160px;
    row-gap: 10px;
    justify-content: space-around;
  }
  .block-bid .item {
    width: 60px;
  }
  .block-bid .item:last-child {
    width: 60px;
  }
  .block-factor {
    width: 180px;
    row-gap: 10px;
    justify-content: space-around;
  }
  .block-factor .item {
    width: 60px;
  }
  .block-factor .item:last-child {
    width: calc(100% - 20px);
  }
}
@media (max-width: 376px) {
  body {
    padding: 0 0 130px;
  }
  .container {
    width: 398px;
    padding: 0 10px;
  }
  .wrapper {
    gap: 25px;
  }
  .counter {
    width: 150px;
    font-size: 15px;
  }
  .counter span {
    font-size: 25px;
  }
  .block-left {
    left: 10px;
  }
  .block-right {
    right: 30px;
  }
  .past-scale {
    flex-wrap: wrap;
    width: 334px;
    top: 353px;
    left: 50%;
    transform: translateX(-50%);
    row-gap: 10px;
  }
  .rocket {
    width: 70px;
    bottom: -100px;
  }
  @keyframes fly {
    0% {
      bottom: -100px;
      transform: translate(calc(-50% + 1px), 1px);
    }
    33% {
      transform: translate(calc(-50% - 1px), 1px);
    }
    66% {
      transform: translate(calc(-50% - 1px), -1px);
    }
    100% {
      bottom: 23px;
      transform: translate(calc(-50% + 1px), -1px);
    }
  }
  @keyframes takeoff {
    0% {
      bottom: -400px;
    }
    20% {
      bottom: 23px;
    }
    100% {
      bottom: -100px;
    }
  }
  .block-bid {
    width: 160px;
    row-gap: 10px;
    justify-content: space-around;
  }
  .block-bid .item {
    width: 40px;
    border-radius: 10px;
  }
  .block-bid .item:last-child {
    width: 40px;
    border-radius: 10px;
  }
  .block-factor {
    width: 160px;
    row-gap: 10px;
    justify-content: space-around;
  }
  .block-factor .item {
    width: 40px;
    border-radius: 10px;
  }
  .block-factor .item:last-child {
    width: calc(100% - 20px);
    border-radius: 10px;
  }
}
